<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  <meta name="description" content="创投汇客服系统 - 世界一流客服服务平台，让工作更简单">
  <!--确保适当的绘制和触屏缩放,设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>客服系统</title>
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_436200_54knk9qzp1yeewmi.css">
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <!--<link rel="shortcut icon" href="/favicon.ico" />-->
  <!--<link rel='stylesheet' href='/lib/bootstrap-3.3.7-dist/css/bootstrap.css'/>-->
  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <!--<script type="text/javascript" src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->
  <include(input.head)/>
</head>
<body>

<!-- 侧边栏 start -->
<aside class="side-wrapper">
  <div class="logo-wrapper">
    <img src="/img/3648.png" alt="logo" width="200" height="50">
  </div>
  <nav class="side-nav">
    <div class="photo-wrapper">
      <img class="head-photo" src="/img/jay.png" alt="head-photo" width="50" height="50">
      <div class="user-name">Kuhn</div>
    </div>
    <ul>
      <li><a href="/note/list">日志列表</a></li>
    </ul>
  </nav>
</aside>
<!-- 侧边栏 end -->

<!-- 导航条 start -->
<nav class="navbar">
  <a class="menu-icon" href="#"><i class="iconfont icon-zhedie-"></i></a>
  <a class="logout-icon" href="#"><i class="iconfont icon-tuichu"></i>退出</a>
  <a class="other-icon" href="#"><i class="iconfont icon-set"></i>设置</a>
  <a class="other-icon" href="#"><i class="iconfont icon-service"></i>在线客服</a>
</nav>
<!-- 导航条 end -->
<include(input.body)/>
</body>
</html>